{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Application accepted
        </h1>
        <p class="font-large">
          You are a <br>
          <strong class="bold">bloody amazing juggler</strong>
        </p>
      </div>

      <p>

      </p>

      <h2 class="heading-medium">What happens next</h2>
      <p> The government has now recognised that you are a super good juggler, what more do you want?
      </p>


    </div>
  </div>

</main>

{% endblock %}
